.Header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 5%;
  padding: 1%;
  background-color: #eeeeee;
}

.Header-with-love {
  align-self: flex-start;
  color: #222222;
}

.Header-sharing-container {
  display: flex;
}

.Header-sharing-socialnetwork {
  flex-direction: column;
}

.love {
  color: #d50000;
}
