.Home-container {
  /*border: 5px solid green;*/
  display: flex;
  flex-direction: column;
  /* align items in Cross Axis */
  align-content: stretch;
  /* align items in Main Axis */
  align-items: stretch;
  justify-content: flex-start;
  /* Extra space in Cross Axis */
}
