.About-container {
    margin-top: 10%;
    /*min-height: 350px;*/
    /*border: 4px solid yellow*/
}

.About-title {
    /*margin-left: 10px*/
    font-weight: 300;
    font-size: 2rem;
    font-family: Helvetica Neue, Lato;
    color: #0091EA;
}

.About-text {
    font-family: Helvetica Neue, Lato;
    font-size: 1.5rem;
    font-weight: 300;
}