.Footer-container {
  margin-top: 10%;
  background-color: #212121;
  color: white;
  font-family: Helvetica Neue, Lato;
}

.Footer-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Footer-container ul li,
.Footer-container ul li a {
  padding: 15px;
  color: #f8f8f8;
  /*align-self: center;*/
  font-size: 18px;
  font-weight: 200;
  /*border: 1px solid green;*/
}

.Footer-copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}

.Footer-copyright a {
  color: #bdbdbd !important;
  font-size: 14px !important;
}
